{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='style/article.css')}}"
/>
{% endblock %} {% block main %}
<div class="container-article">
  <h1>{{ article.title }}</h1>
  <div class="content-article">
    {% for data in article.content %} {% if data.type == "paragraph" %}
    <p>{{data.text}}</p>
    {% elif data.type == "code" %}
    <code>$ {{data.text}} </code>
    {% elif data.type == "image" %}
    <img
      src="{{ url_for('static', filename='images/article-photos/' ~ data.filename) }}"
      alt="article photo"
    />
    {% else %}
    <p>{{data}}</p>
    {% endif %} {% endfor %}

    <p style="width: 100%; text-align: end">
      <a href="{{ url_for('blog') }}"> >> Back to Stuff</a>
    </p>
  </div>
</div>
{% endblock %}
