<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style/base.css')}}"
    />
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <main id="main-container">
      <nav id="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/about">About me</a></li>
        </ul>
      </nav>
      {% block main %} {% endblock %}
      <footer id="footer">© 2025 Antoni Zaremba</footer>
    </main>
  </body>
</html>
