<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style/base.css')}}"
    />
    {% block styles %}{% endblock %}
    <title>🌚 Triple baka slaps hard</title>
  </head>
  <body>
    <main id="main-container">
      <nav id="navbar">
        <ul>
          <li>
            <a href="/">
              <span class="link-icon">
                <img
                  src="{{url_for('static', filename='icons/safari.png')}}"
                  alt="home"
                />
              </span>
              Home
            </a>
          </li>
          <li>
            <a href="/blog">
              <span class="link-icon">
                <img
                  src="{{url_for('static', filename='icons/contacts.png')}}"
                  alt="blog"
                />
              </span>
              Blog
            </a>
          </li>
          {% if logged_in %}
          <li>
            <a href="/logout">
              <span class="link-icon">
                <img
                  src="{{url_for('static', filename='icons/settings.png')}}"
                  alt="logout"
                />
              </span>
              Logout
            </a>
          </li>
          {% else %}
          <li>
            <a href="/login">
              <span class="link-icon">
                <img
                  src="{{url_for('static', filename='icons/settings.png')}}"
                  alt="login"
                />
              </span>
              Login
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div id="content-container">{% block main %} {% endblock %}</div>
    </main>
    <footer id="footer">
      © 2025 Antoni Zaremba {% if logged_in %}
      <span style="color: green"> Verified </span>
      {% else %}
      <span style="color: red"> Unverified </span>
      {% endif %}
    </footer>
  </body>
</html>
