{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='style/home.css')}}"
/>
{% endblock %} {% block main %}
<div class="container-home">
  <div class="home-banner">
    <img
      src="{{url_for('static', filename='images/fajne.gif')}}"
      alt="madobe_nanami"
      id="home-banner-image"
    />
  </div>
  <div class="home-main-container">
    <h1>おはようございます</h1>
    <p>
      Hi! My name is Antoni and this is my DIY frutiger aero style website. I'm
      a Modern Technologies in Forensic Science student. I'm interested in
      GNU/Linux and cybersecurity. I also like being tedious how old internet
      was the best: no AI slop, no paywalls, no ad-trackers on every corner;
      just find what you need and enjoy yourself in peace.
    </p>
    <p>
      This is not a blog nor my portfolio (or maybe it is, idk). The purpose of
      this site is pretty simple: I love 2000s technology. Switching from modern
      devices packed with AI and other data stealing tools to my good, old
      blackberry is a great way to rest and slow down. Unfortunately you can't
      do a lot, as many modern websites or applications are just not compatible
      with old school devices.
    </p>
    <p>
      That's why I wanted to create a space, where I could store and create
      stuff that might come in handy and is available on everything I use. Of
      course it may look inelegant and be a little sluggish, but nothing beats
      good old HTML + CSS. No javascript nor modern UI libraries, just some ugly
      but reliable, spaghetti style.css &lt;3
    </p>
  </div>
  <img
    src="{{url_for('static', filename='images/tux_pc.gif')}}"
    alt="tux"
    style="flex: 1"
  />
</div>
{% endblock %}
