{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='style/login.css')}}"
/>
{% endblock %} {% block main %} {%- with messages =
get_flashed_messages(with_categories=True) %} {%- if messages %}
<div>
  <div>{{utils.flashed_messages(messages)}}</div>
</div>
{%- endif %} {%- endwith %}
<div class="container-login">
  <h1>Login</h1>
  <div class="content-login">
    <form method="POST" role="form">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label(class="form-label") }} {{
        form.username(class="form-control", size=32) }}
      </div>
      <div>
        {{ form.password.label(class="form-label") }} {{
        form.password(class="form-control", size=32) }}
      </div>
      <div>{{ form.submit(class="btn btn-primary", style="width: 100%") }}</div>
    </form>
  </div>
</div>
{% endblock %}
